.root {
  position: fixed;
  top: 0;
  z-index: 9999;

  width: 100%;
}

.top {
  width: 100%;
  padding: 0 var(--layout-aside);
  box-sizing: border-box;

  background-color: var(--c-main-black);
}

.bottom {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;

  padding: 0 var(--layout-aside);
  box-sizing: border-box;

  background-color: var(--c-main-white);
  border-bottom: 1px solid var(--c-main-black);
  transition: all 150ms ease-in-out;
}
:global(.sticky) > .bottom {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(0.2rem);
}
/*==== grid ====*/

.grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-1) 0;
  max-width: var(--max-width);
  margin: 0 auto;
}

.grid__item {
  display: flex;
  align-items: center;
  gap: var(--layout-gap);
}

@media screen and (min-width: 1280px) {
  .root {
    position: static;
  }
}
