.root {
  --swiper-theme-color: var(--c-main-black);

  margin: var(--spacing-5) 0;
}

.root :global(.swiper-slide) {
  height: auto;
}

.title {
  margin: 0 0 0.8em;

  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--c-main-black);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    font-size: 2.7rem;
  }
}
