.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--layout-gap);
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
