.root {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-2);
}

/*===== card =====*/

.card {
  display: flex;
  width: 24rem;
  align-items: stretch;
  gap: var(--spacing-3);
}

.card__image {
  --image-size: 6rem;

  width: var(--image-size);
  height: var(--image-size);

  object-fit: cover;
  object-position: center;
}

.card__title {
  margin: 0;

  font-size: 1.2rem;
  font-weight: 600;
  color: var(--c-main-black);
}

.cart__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  justify-content: space-between;
}

/*===== button  =====*/

.button {
  display: block;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: 0;

  cursor: pointer;
}

.button__icon {
  width: 1.6rem;

  fill: var(--c-medium-gray);
  color: var(--c-medium-gray);
}

/*===== price =====*/

.priceGroup {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-2);
  align-items: flex-end;
}

.price {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.price__init {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--c-medium-gray);
}

.price__total {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--c-main-black);
}
