.wrap {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link {
  text-decoration: none;
}

.image {
  position: relative;

  height: 0;
  padding: 0 0 100%;
}

.image__source {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.title {
  margin: 0.6em 0;

  font-size: 1.6rem;
  font-weight: 700;
}

.grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-column-gap: 2rem;
  grid-row-gap: 0.6rem;
}

.price__list {
  justify-self: start;
  align-self: end;
  display: flex;
  align-items: center;
}

.price__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.price {
  margin: 0 0 0.2em;

  font-size: 2rem;
  font-weight: 900;
  color: var(--c-main-black);
}

.price_old {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--c-main-black);
  text-decoration: line-through;
}

.price_other {
  margin-right: 1.4em;

  font-size: 0.8rem;
  font-weight: 300;
  color: var(--c-main-black);
  white-space: nowrap;
}

.code {
  align-self: end;
  justify-self: end;

  font-size: 1.2rem;
  font-weight: 300;
}

.buttonsWrap {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.button {
  align-self: center;
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em;
  margin: 0;
  box-sizing: border-box;

  font-family: var(--font-main);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.001em;
  color: var(--c-main-black);

  background-color: transparent;
  border: 2px solid var(--c-main-black);
  border-radius: 0;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.button:hover {
  color: var(--c-main-white);

  background-color: var(--c-main-black);
}

.buttonIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
}

.buttonIcon__icon {
  display: block;
  height: 2rem;

  fill: var(--c-main-black);
  color: var(--c-main-black);
}
