.root {
  position: absolute;
  bottom: var(--spacing-1);
  left: 50%;
  z-index: 9999;

  width: max-content;
  padding: var(--spacing-2) 0;

  background-color: var(--c-main-white);
  box-shadow: var(--shadow);

  transform: translateX(-50%);
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;

  color: var(--c-main-black);
}

.item {
}

.link {
  display: block;
  width: 100%;
  padding: var(--spacing-1) var(--spacing-3);

  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.6;
}
.link:hover {
  background-color: var(--c-light-gray);
}

.link_active {
  color: var(--c-medium-gray);

  cursor: default;
}
.link_active:hover {
  background-color: transparent;
}

@media screen and (min-width: 1280px) {
  .root {
    top: var(--spacing-1);
    bottom: auto;
  }

  .link {
    font-size: 1rem;
  }
}
