.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  height: 100%;
  flex-grow: 1;
}

.content {
  max-width: var(--max-width);
  padding: var(--spacing-3);
  margin: var(--spacing-5) auto var(--spacing-2);
}

@media screen and (min-width: 1280px) {
  .content {
    margin: var(--spacing-2) auto;
  }
}
