.root {
  margin: 0 0 var(--spacing-5);
}

.body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.content {
  width: 100%;
}

.address {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.icon {
  display: block;
  height: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-2);
}

.name {
  margin: 0 0 var(--spacing-3);

  font-size: 1.6rem;
}

.phone {
  margin: 0 0 var(--spacing-2);

  font-size: 1.2rem;
}

.text {
  margin: 0;
  padding: 0;

  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .body {
    flex-direction: row;
  }

  .buttons {
    flex-direction: column;
  }
}
