.root {
  display: flex;
  gap: var(--spacing-2);
  margin: var(--spacing-3) 0;
}

.checkbox {
  display: none;
}

.switcher {
  position: relative;

  display: block;
  width: 2rem;
  height: 1.2rem;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;

  background-color: var(--c-main-white);
  border: 2px solid var(--c-main-black);
  border-radius: 0.6rem;
  transition: all 150ms ease-in-out;
}

.switcher::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;

  display: block;
  width: calc(1.2rem - 6px);
  height: calc(1.2rem - 6px);
  flex-grow: 0;
  flex-shrink: 0;

  background-color: var(--c-main-black);
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

.checkbox:checked + .switcher {
  background-color: var(--c-main-black);
}

.checkbox:checked + .switcher::before {
  background-color: var(--c-main-white);
  transform: translateX(100%);
}

.label {
}
