.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  list-style: none;
}

.item {
  padding: var(--spacing-1) 0;
  margin: 0;
}

.link {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--c-main-white);
}
