.root {
  display: flex;
  align-items: center;
  gap: var(--layout-gap);
  padding: var(--spacing-1) 0;
}

.icon {
  width: 1.6rem;

  fill: var(--c-main-white);
  color: var(--c-main-white);
}

/*==== phone list ====*/

.phoneList {
  display: flex;
  gap: var(--layout-gap);
  padding: 0;
  margin: 0;

  list-style: none;
}

.phoneList__item {
  margin: 0;
  padding: 0;
}

/*==== phone ====*/

.phone {
  display: flex;
  flex-direction: column;

  font-size: 1rem;
  line-height: 1.6;
  color: var(--c-main-white);
  text-decoration: none;
}
