.root {
  display: flex;
  align-items: center;
  padding: var(--spacing-1);
}

.icon {
  width: 1.6rem;

  margin-right: var(--spacing-2);

  fill: var(--c-main-white);
  color: var(--c-main-white);
}

/*==== phone list ====*/

.phoneList {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.phoneList__item {
  margin: 0 var(--spacing-2);
}

/*==== phone ====*/

.phone {
  display: flex;
  flex-direction: column;

  font-size: 1rem;
  line-height: 1.6;
  color: var(--c-main-white);
  text-decoration: none;
}
