.root {
  margin: var(--spacing-4) 0;
}

/*==== email list ====*/

.emailList {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  list-style: none;
}

.emailList__item {
  margin: 0 0 var(--spacing-3);
}

/*==== phone ====*/

.email {
  display: flex;
  flex-direction: column;

  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--c-main-black);
  text-decoration: none;
}
.email:hover {
  text-decoration: underline;
}

.email__label {
  font-size: 1rem;
}
