.list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

  list-style: none;
}

.item {
  padding: var(--spacing-1) var(--spacing-2);
  margin: 0;
}

.link {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--c-main-black);
}
