.root {
  margin: var(--spacing-4) 0;
}

.socialList {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  list-style: none;
}

.socialList__item {
  padding: 0;
  margin: 0 0 var(--spacing-3);
}

.socialLink {
  display: flex;
  align-items: center;
  padding: 0.2rem;

  text-decoration: none;
}
.socialLink:hover {
  text-decoration: underline;
}

.socialLink__icon {
  display: block;
  height: 2rem;
  margin-right: var(--spacing-3);

  fill: var(--c-main-black);
  color: var(--c-main-black);
}
.socialLink__name {
  font-size: 1.2rem;
  line-height: 0.6;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
  .socialLink__name {
    font-size: 1.4rem;
  }
}
