.root {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-4);
}

.bar {
  position: sticky;
  top: var(--spacing-2);

  width: 14rem;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 0 var(--spacing-2) 0 0;
  box-sizing: border-box;

  border-right: 1px solid var(--c-main-black);
}

.content {
  padding: var(--spacing-2);
  box-sizing: border-box;
}
