.root {
  background-color: var(--c-main-black);
}

/*==== grid ====*/

.grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-1) var(--spacing-3);
}

.grid__item {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-3);
}
