.logo {
  padding: var(--spacing-2) var(--spacing-1);

  font-size: 1.75rem;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 0.01em;
  font-weight: 600;
  color: var(--c-main-black);
}
