.root {
  width: 100%;
  height: 60vh;
}

.mapBar {
  position: absolute;
  top: var(--layout-gap);
  right: var(--layout-gap);
}

@media screen and (min-width: 768px) {
  .root {
    height: 80vh;
  }
}

@media screen and (min-width: 1280px) {
  .root {
    height: 100vh;
  }
}
