.root {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;

  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-3);
  box-sizing: border-box;

  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
}

.body {
  display: flex;
  flex-direction: column;
  max-width: 32rem;
  width: 100%;
  height: min-content;
  max-height: calc(100vh - 2 * var(--spacing-3));
  padding: var(--spacing-3);

  background-color: var(--c-main-white);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--spacing-3);
  margin-bottom: var(--spacing-4);
}

.title {
  margin: 0;

  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--c-main-black);
}

.button {
  display: block;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.button__icon {
  width: 1.8rem;

  fill: var(--c-medium-gray);
  color: var(--c-medium-gray);
}

.content {
  overflow-y: auto;
  min-height: 10rem;
  max-height: 100%;
  padding: var(--spacing-3);
  box-sizing: border-box;
}
