:root {
  /*==== colors ====*/
  --c-main-black: #000;
  --c-main-white: #fff;
  --c-light-gray: #eee;
  --c-medium-gray: #bbb;
  --c-error: #9b0000;

  /*==== fonts ====*/
  --font-main: 'Raleway', sans-serif;

  /*==== spacing ====*/
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 1rem;
  --spacing-4: 2rem;
  --spacing-5: 4rem;

  /*==== layout ====*/
  --max-width: 100%;
  --layout-aside: 1.5rem;
  --layout-gap: 1.5rem;

  /*==== shadow ====*/
  --shadow: 0 0.25rem 0.5rem 2px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  :root {
    /*==== layout ====*/
    --max-width: 62rem;
    --layout-aside: 2rem;
    --layout-gap: 1.5rem;
  }
}

@media screen and (min-width: 1280px) {
  :root {
    /*==== layout ====*/
    --max-width: 90rem;
    --layout-aside: 2rem;
    --layout-gap: 2rem;
  }
}
