.root {
  margin: var(--spacing-4) 0;
}

/*==== phone list ====*/

.phoneList {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  list-style: none;
}

.phoneList__item {
  margin: 0 0 var(--spacing-3);
}

/*==== phone ====*/

.phone {
  display: flex;
  flex-direction: column;

  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--c-main-black);
  text-decoration: none;
}
.phone:hover {
  text-decoration: underline;
}

.phone__label {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
  .phone {
    font-size: 1.4rem;
  }
}
