.root {
  padding: var(--spacing-1);
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: var(--spacing-1);
  grid-column-gap: var(--spacing-2);
}

.grid__item_full {
  grid-column: 1 / -1;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2);
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
